@import "tailwindcss";

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes scale-up-bottom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    transform-origin: 50% 100%;
  }
  100% {
    opacity: 0.7;
    transform: scale(1);
    transform-origin: 50% 100%;
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
}